Money
What to know: what minimum salary you require and what range you expect to make.

Benefits
What to know: benefits you must have, including any specifics about types of health coverage you must have; amount of 401(k) participation you want to take advantage of; and any benefits important to you.

Location
What to know: how far you are willing to commute every day, in terms of both distance and time, and in what form of transportation.

Pride and Prestige
What to know: your internal motivators.

Important Work
What to know: what "important" work looks like to you.

Type of Work to be Done
What to know: the kinds of projects that excite you and make you want to come to work each day.

Company Size/Department Size
What to know: how big a company, a department, or a team that you want to work for.

Your Co-Workers
What to know: who you want to work with and who you want to avoid.

Technology Used
What to know: what systems, languages, and other tools you enjoy using. What you want to learn going forward.

Autonomy and Direction
What to know: imagine what a good relationship with management means to you.

Dress Code
What to know: your sartorial minimums. Whether you can get by wearing a tie every day. What about Dockers? Pantyhose?

Working Hours
What to know: you and your family’s requirements for how much time you can spend at the office and how flexible you need your company to be in relation to working hours.

Fun factor
Is the work fun or a drudge?

Career advancement
Do you have a path to advance in the company? Or does that not concern you?

Responsibility and/or power of the position
Is it important for you to lead, or are you happy creating the work?

Personal growth/training/education
Where do you want to grow personally? Will the company support that?

Company stability
Is the company likely to be around in the long term? What’s your tolerance for risk?

Industry stability
Is the industry stable or subject to fluctuations in the economy?

Stepping stone to future jobs
Do you need a certain kind of job to reach future goals?

