---
layout: page
title: "drbd"
comments: true
sharing: true
footer: true
---
http://en.wikipedia.org/wiki/DRBD
http://www.drbd.org/home/what-is-ha/
http://docs.homelinux.org//viewtopic.php?f=6&t=9
http://docs.homelinux.org/viewtopic.php?f=6&t=18

