---
layout: page
title: "install-cd"
date: 2012-12-29 15:18
comments: true
sharing: true
footer: true
---
%pre
  sudo mount -o loop /media/500_1/ISOs/ubuntu-12.04-server-amd64.iso /media/precise

%pre
  mkdir allspark-12.04
  cp -rT /media/precise ./allspark-12.04

%pre
  git init
  git add .
  git commit -m "virgin 12.04 cd"

%ol
  %li Delete contents of isolinux
  %li Add contents of isolinux from previous allspark
  %li Add syslinux from previous allspark

%pre
  BUILD=/media/73be3b76-bf5b-4c01-9139-dbfe165e8a37/allspark-image/
  IMAGE=/media/73be3b76-bf5b-4c01-9139-dbfe165e8a37/ISOs/allspark.iso
  mkisofs -r -V "Custom Ubuntu Install CD" -cache-inodes -J -l -b isolinux/isolinux.bin -c isolinux/boot.cat -no-emul-boot -boot-load-size 4 -boot-info-table -o $IMAGE $BUILD

%p
  Create VM
  Mount ISO

%pre
  Edit /syslinux/syslinux.cfg
  Add /preseed/hostname.seed
  Add /finisher/hostname_post_install.sh

%pre
  https://help.ubuntu.com/community/InstallCDCustomization
  https://help.ubuntu.com/12.04/installation-guide/example-preseed.txt
