---
layout: page
title: "nginx"
comments: true
sharing: true
footer: true
---
http://nginx.org/en/docs/http/converting_rewrite_rules.html
http://serverfault.com/questions/331593/nginx-rewrite-all-except-one-location
https://snipt.net/pkarl/nginx-permanent-301-redirect-to-external-url/

