---
layout: page
title: "Notes on Build Awesome Command-Line Applications in Ruby"
comments: true
sharing: true
footer: true
---
%h2 Introduction

%h2 1. Have a Clear and Concise Purpose
%h3 1.1 Problem 1: Backing Up Data 
%h3 1.2 Problem 2: Managing Tasks 
%h3 1.3 What Makes an Awesome Command-Line App 
%h3 1.4 Moving On 

%h2 2. Be Easy to Use
%h3 2.1 Understanding the Command Line: Options, Arguments, and Commands 
%h3 2.2 Building an Easy-to-Use Command-Line Interface 
%h3 2.3 Building an Easy-to-Use Command-Suite Interface 
%h3 2.4 Moving On 

%h2 3. Be Helpful
%h3 3.1 Documenting a Command-Line Interface 
%h3 3.2 Documenting a Command Suite 
%h3 3.3 Including a Man Page 
%h3 3.4 Writing Good Help Text and Documentation 
%h3 3.5 Moving On 

%h2 4. Play Well with Others
%h3 4.1 Using Exit Codes to Report Success or Failure 
%h3 4.2 Using the Standard Output and Error Streams Appropriately 
%h3 4.3 Formatting Output for Use As Input to Another Program 
%h3 4.4 Trapping Signals Sent from Other Apps 
%h3 4.5 Moving On 

%h2 5. Delight Casual Users
%h3 5.1 Choosing Names for Options and Commands 
%h3 5.2 Choosing Default Values for Flags and Arguments 
%h3 5.3 Deciding Default Behavior 
%h3 5.4 Moving On 

%h2 6. Make Configuration Easy
%h3 6.1 Why External Configuration?
%h3 6.2 Reading External Configuration from Files
%h3 6.3 Using Configuration Files with Command Suites
%h3 6.4 Design Considerations When Using Configuration
%h3 6.5 Moving On

%h2 7. Distribute Painlessly  
%h3 7.1 Distributing with RubyGems
%h3 7.2 Distributing Without RubyGems
%h3 7.3 Collaborating with Other Developers
%h3 7.4 Moving On 

%h2 8. Test, Test, Test
%h3 8.1 Testing User Behavior with Acceptance Tests
%h3 8.2 Testing in Isolation with Unit Tests
%h3 8.3 A Word About Test-Driven Development
%h3 8.4 Moving On

%h2 9. Be Easy to Maintain 
%h3 9.1 Dividing Code into Multiple Files 
%h3 9.2 Designing Code for Maintainability 
%h3 9.3 Moving On 

%h2 10. Add Color, Formatting, and Interactivity
%h3 10.1 Adding Color Using ANSI Escape Sequences
%h3 10.2 Formatting Output with Tables 
%h3 10.3 Providing Interactive User Input with readline 
%h3 10.4 Moving On
 
%h3 A1. Common Command-Line Gems and Libraries
%h3 A1.1 Alternatives for Simple Command-Line Apps
%h3 A1.2 Alternatives for Command Suites
%h3 A1.3 Other Relevant Libraries 
