---
layout: page
title: "Notes on Behind Closed Doors"
comments: true
sharing: true
footer: true
---
%h2 Week 1: Learning about the People and the Work 8
%h3 Monday Morning
%h3 Managing One 
%h3 Tuesday Morning
%h3 Keep a Finger on the Pulse
%h3 Wednesday Afternoon
%h3 Friday Afternoon
%h3 Gather Data about Current Work
%h3 Now Try This
%h3 Bibliography for Chapter

%h2 Week 2: Bringing Order to the Chaos
%h3 Tuesday Afternoon
%h3 Create the Project Portfolio
%h3 Thursday
%h3 Fast-Forward
%h3 Matching the Roles with the People
%h3 Plan to Integrate New Team Members
%h3 Friday Morning, Sam’s Second Week on the Job
%h3 Managing the Project Portfolio
%h3 Now Try This
%h3 Bibliography for Chapter

%h2 Week 3: Building the Team
%h3 Monday Morning
%h3 Thursday Morning
%h3 Creating Shared Goals
%h3 Monday Morning
%h3 Provide Timely Feedback
%h3 When Feedback Doesn’t Correct the Situation
%h3 Now Try This
%h3 Bibliography for Chapter

%h2 Week 4: Managing Day by Day
%h3 Monday
%h3 Create Individual Goals for Each Person
%h3 Monday Midmorning
%h3 Coaching for Success
%h3 Later That Same Day
%h3 Learning to Inﬂuence
%h3 Monday Afternoon
%h3 Capitalizing on Feedback Opportunities
%h3 Now Try This
%h3 Bibliography for Chapter

%h2 Week 5: Discovering Lurking Problems
%h3 Recognize Messy Problems
%h3 Friday Morning
%h3 Solving Problems as a Management Team
%h3 Now Try This
%h3 Bibliography for Chapter

%h2 Week 6: Building Capability
%h3 Monday Morning
%h3 Learning to Delegate
%h3 Wednesday End of Day
%h3 Notice and Appreciate Changes and Contributions
%h3 Back to Monday
%h3 Manage Yourself
%h3 Still Monday
%h3 Develop the People in Your Group Every Week
%h3 Now Try This
%h3 Bibliography for Chapter

%h2 Week 7: Dealing with Corporate Realities
%h3 Tuesday Late Morning
%h3 Manage Your Boss, Stand Up for Your Team
%h3 After Lunch
%h3 Thursday
%h3 Leading Your Team through a Change in Priorities
%h3 Now Try This
%h3 Epilogue
%h3 What Management Is
%h3 Now Try This
%h3 Bibliography for Chapter

%h2 Techniques for Practicing Great Management
%h3 1. Guidelines for Effective Coaching
%h3 2. Setup for Successful Delegation
%h3 3. Facilitation Essentials for Managers
%h3 4. Guide to Giving Effective Feedback
%h3 5. Welcoming New Hires
%h3 6. Setting SMART Goals
%h3 7. What Goes on Inside our Heads
%h3 8. Manage by Walking Around & Listening
%h3 9. Run Effective Meetings
%h3 10. Making One-on-Ones Work
%h3 11. Preparing for Inﬂuence
%h3 12. Solving Problems: Create New Situations
%h3 13. Project Portfolio Planning Tips
%h3 Bibliography for Chapter

%h2 Bibliography
