---
layout: page
title: "Notes on Cucumber Recipes"
comments: true
sharing: true
footer: true
---
%h2 1. Cucumber Techniques
%h3 Recipe 1. Compare and Transform Tables of Data
%h3 Recipe 2. Generate an RTF Report With a Custom Formatter
%h3 Recipe 3. Run Slow Setup/Teardown Code With Global Hooks
%h3 Recipe 4. Refactor to Extract Your Own Application Driver DSL
%h3 Recipe 5. Define Steps as Regular Ruby Methods
%h3 Recipe 6. Compare Images
%h3 Recipe 7. Test Across Multiple Cores
%h3 Recipe 8. Test Across Multiple Machines With SSH
%h3 Recipe 9. Run Your Features Automatically With Guard and Growl
%h3 Recipe 10. Add Cucumber To Your Continuous Integration Server
%h3 Recipe 11. Publish Your Documentation on Relish
%h3 Recipe 12. Test Through Multiple Interfaces Using Worlds
%h3 Recipe 13. Manipulate Time
%h3 Recipe 14. Drive Cucumber’s Wire Protocol
%h3 Recipe 15. Implement a Wire Protocol Listener

%h2 2. Java
%h3 Recipe 16. Use Cucumber Directly With JRuby
%h3 Recipe 17. Use Cucumber With Java Via Cucumber-JVM
%h3 Recipe 18. Drive a Spring + Hibernate Project
%h3 Recipe 19. Test a Grails App Using grails-cucumber
%h3 Recipe 20. Test Scala Code
%h3 Recipe 21. Test Clojure Code
%h3 Recipe 22. Drive a Swing Interface With FEST

%h2 3. .NET and Windows
%h3 Recipe 23. Get Good Text Output On Windows 
%h3 Recipe 24. Test .NET Code Using Cucumber Syntax 
%h3 Recipe 25. Drive a Windows App Using White 
%h3 Recipe 26. Test Windows GUIs with Win32-Autogui 
%h3 Recipe 27. Test On Windows Phone 

%h2 4. Mobile and Web
%h3 Recipe 28. Test On iOS Using Frank 
%h3 Recipe 29. Test Android Apps With Calabash 
%h3 Recipe 30. Parse HTML Tables 
%h3 Recipe 31. Drive JavaScript / CoffeeScript Using Cucumber-JS 
%h3 Recipe 32. Test a Web App Using Watir 
%h3 Recipe 33. Test a PHP App With cuke4php 
%h3 Recipe 34. Play Back Canned Network Data Using VCR 
%h3 Recipe 35. Drive a Flash App Using Cuke4AS3 
%h3 Recipe 36. Monitor a Web Service Using Nagios and Cucumber 

%h2 5. Other Languages and Platforms
%h3 Recipe 37. Drive a Mac GUI Using AppleScript and System Events
%h3 Recipe 38. Drive a Mac GUI Using MacRuby and AXElements
%h3 Recipe 39. Test Python Code Using Lettuce
%h3 Recipe 40. Test Erlang Code
%h3 Recipe 41. Test Lua Code Using cucumber-lua
%h3 Recipe 42. Test a GUI on Linux, Mac, or Windows With Sikuli
%h3 Recipe 43. Test an Arduino Project Using Serial

%h2 A1. RSpec Expectations
%h3 A1.1 Basics
%h3 A1.2 Custom Matchers
%h3 A1.3 Alternatives
