---
layout: page
title: "Notes on Deploying with JRuby"
comments: true
sharing: true
footer: true
---
%h2 1. Getting Started with JRuby
%h3 1.1 What Makes JRuby So Great? 
%h3 1.2 Introducing Warbler 
%h3 1.3 Preparing Twitalytics for JRuby 
%h3 1.4 Configuring Warbler for Twitalytics 
%h3 1.5 Wrapping Up 

%h2 2. Creating a Deployment Environment
%h3 2.1 Creating a Virtual Server
%h3 2.2 Provisioning with Puppet
%h3 2.3 Packaging the Deployment Environment
%h3 2.4 Using Alternative Platforms 
%h3 2.5 Wrapping Up 

%h2 3. Deploying an Archive File
%h3 3.1 Provisioning a Server
%h3 3.2 Installing Apache Tomcat 
%h3 3.3 Creating the Deployment Script 
%h3 3.4 Using Precompiled Assets with Warbler 
%h3 3.5 Deploying to the Cloud 
%h3 3.6 Wrapping Up 

%h2 4. Creating a Trinidad Application
%h3 4.1 What Is Traditional Deployment?
%h3 4.2 Getting Started with Trinidad
%h3 4.3 Adding Trinidad Extensions
%h3 4.4 Choosing Alternatives to Trinidad
%h3 4.5 Wrapping Up 

%h2 5. Deploying a Trinidad Application
%h3 5.1 Provisioning a Server
%h3 5.2 Installing Trinidad as a Service
%h3 5.3 Hot-Deploying with Capistrano
%h3 5.4 Configuring Apache
%h3 5.5 Choosing Alternative Deployment Strategies
%h3 5.6 Wrapping Up

%h2 6. Creating a TorqueBox Application
%h3 6.1 What Is an Application Server?
%h3 6.2 Getting Started with TorqueBox
%h3 6.3 Creating a Deployment Descriptor
%h3 6.4 Using the Management Console
%h3 6.5 Scheduling a Recurring Job
%h3 6.6 Creating a Long-Running Daemon
%h3 6.7 Running Background Jobs
%h3 6.8 Pushing to the Browser with Stomplets
%h3 6.9 Testing a TorqueBox Application 
%h3 6.10 Wrapping Up 

%h2 7. Deploying a TorqueBox Application
%h3 7.1 Choosing a Deployment Strategy
%h3 7.2 Creating a Deployment Environment
%h3 7.3 Installing TorqueBox
%h3 7.4 Deploying an Archive Filed
%h3 7.5 Wrapping Up 

%h2 8. Clustering a TorqueBox Application
%h3 8.1 Creating the Cluster
%h3 8.2 Installing the Apache Cluster Module
%h3 8.3 Deploying to the Cluster
%h3 8.4 Using High-Availability Jobs and Services
%h3 8.5 Using Session Replication 
%h3 8.6 Running in Domain Mode 
%h3 8.7 Wrapping Up 

%h2 9. Managing a JRuby Deployment
%h3 9.1 Configuring the Runtime
%h3 9.2 Inspecting the Runtime with JMX
%h3 9.3 Managing the Runtime with JMX 
%h3 9.4 Creating a Management Bean 
%h3 9.5 Profiling an Application
%h3 9.6 Wrapping Up

%h2 10. Using a Continuous Integration Server
%h3 10.1 Installing Jenkins
%h3 10.2 Creating a Git Depot
%h3 10.3 Creating a Jenkins Job
%h3 10.4 Archiving Artifacts with Jenkins
%h3 10.5 Wrapping Up
