---
layout: page
title: "Notes on The Developer's Code"
comments: true
sharing: true
footer: true
---
%h2 1. Introduction
%h3 1.1 Who Is the 21st-Century Programmer? 
%h3 1.2 Discovering the Lessons Firsthand 
%h3 1.3 This Book Is About Us 

%h2 2. Metaphor
%h3 Essay 1. Follow Metaphors with Care 
%h3 Essay 2. Plan Enough, Then Build 
%h3 Essay 3. Launch Is Just the First Release 
%h3 Essay 4. The “Ivory Tower” Architect Is a Myth 
%h3 Essay 5. Throw Away Your Old Code 
%h3 Essay 6. Diversification Over Specialization 
%h3 Essay 7. Metaphors Hide Better Ways of Working 

%h2 3. Motivation
%h3 Essay 8. The Perks Are in the Work
%h3 Essay 9. Begin Where You Love to Begin 
%h3 Essay 10. Be Imperfect 
%h3 Essay 11. Stop Programming 
%h3 Essay 12. Test Your Work First Thing in the Morning 
%h3 Essay 13. Work Outside the Bedroom 
%h3 Essay 14. First Impressions Are Just That 
%h3 Essay 15. The Emotional Value of Launch 
%h3 Essay 16. Find an Argument 

%h2 4. Productivity
%h3 Essay 17. Just Say “No” to the Pet Project 
%h3 Essay 18. Constrain All of Your Parameters 
%h3 Essay 19. Cut the Detail Out of the Timeline 
%h3 Essay 20. Improve Your Product in Two Ways Daily 
%h3 Essay 21. Invest in a Good Work Environment 
%h3 Essay 22. Keep a Personal To-Do List
%h3 Essay 23. Create “Off-Time” with Your Team
%h3 Essay 24. Work in Small, Autonomous Teams
%h3 Essay 25. Eliminate the “We” in Productivity

%h2 5. Complexity
%h3 Essay 26. Sniff Out Bad Complexity 
%h3 Essay 27. The Simplicity Paradox 
%h3 Essay 28. Complexity as a Game of Pickup Sticks 
%h3 Essay 29. Keep Complexity Under the Surface 
%h3 Essay 30. “Hard to Code” Might Mean “Hard to Use"
%h3 Essay 31. Know When to Refactor 
%h3 Essay 32. Develop a Programming Cadence 

%h2 6. Teaching
%h3 Essay 33. Teaching Is Unlike Coding 
%h3 Essay 34. Beware the “Curse of Knowledge” 
%h3 Essay 35. Teach with Obvious Examples 
%h3 Essay 36. Lie to Simplify 
%h3 Essay 37. Encourage Autonomous Thought 

%h2 7. Clients
%h3 Essay 38. The Tough Client Is Ubiquitous 
%h3 Essay 39. Demystify the Black Magic of Software 
%h3 Essay 40. Define the Goals of Your Application 
%h3 Essay 41. Be Enthusiastic and Opinionated 
%h3 Essay 42. Be Forgiving and Personable 
%h3 Essay 43. Value Is Much More Than Time 
%h3 Essay 44. Respect Your Project Manager 

%h2 8. Code
%h3 Essay 45. Write Code As a Last Resort 
%h3 Essay 46. A Plug-in Happy Culture 
%h3 Essay 47. Code Is the Ultimate Junior Developer 
%h3 Essay 48. Separate Robot Work from Human Work 
%h3 Essay 49. Generating Code at Its Core 
%h3 Essay 50. The Case for Rolling Your Own 

%h2 9. Pride
%h3 9.1 We Have a Marketing Problem
%h3 9.2 Lessons from the Cooking Industry
