---
layout: page
title: "Notes on Explore It!"
comments: true
sharing: true
footer: true
---
%h1 Explore It! - Reduce Risk and Increase Confidence with Exploratory Testing</h1>

%h2 Part I — Establishing Foundations</h2>

%h3 1. On Testing and Exploration</h3>
%h4 1.1 Two Sides of Testing</h4>
%h4 1.2 Essential Elements of Exploratory Testing</h4>
%h4 1.3 Working in Time-Boxed Sessions</h4>
%h4 1.4 Practice Sessions</h4>

%h3 2. Charter Your Explorations</h3>
%h4 2.1 Chartering the Expedition</h4>
%h4 2.2 A Simple Charter Template</h4>
%h4 2.3 Good Charters</h4>
%h4 2.4 Generating Charters</h4>
%h4 2.5 The Nightmare Headline Game</h4>
%h4 2.6 Planning Charters</h4>
%h4 2.7 Practice Sessions</h4>

%h3 3. Observe the Details</h3>
%h4 3.1 But Did You See the Moonwalking Bear?</h4>
%h4 3.2 Dig Deeper</h4>
%h4 3.3 Testability and Making the Invisible Visible</h4>
%h4 3.4 Consoles and Logs</h4>
%h4 3.5 Practice Sessions</h4>

%h3 4. Find Interesting Variations</h3>
%h4 4.1 Variables are Things that Vary</h4>
%h4 4.2 Subtle Variables, Big Disasters</h4>
%h4 4.3 Identifying Variables</h4>
%h4 4.4 Variables! They’re Everywhere!</h4>
%h4 4.5 Practice Sessions</h4>

%h3 5. Evaluate Results</h3>
%h4 5.1 Never and Always</h4>
%h4 5.2 Alternative Resources</h4>
%h4 5.3 Approximations</h4>
%h4 5.4 Practice Sessions</h4>

%h2 Part II — Adding Dimensions</h2>

%h3 6. Vary Sequences and Interactions</h3>
%h4 6.1 Nouns and Verbs</h4>
%h4 6.2 Random Navigation</h4>
%h4 6.3 Personas</h4>
%h4 6.4 Practice Sessions</h4>

%h3 7. Explore Entities and their Relationships</h3>
%h4 7.1 Recognizing Entities, Attributes, and Dependencies</h4>
%h4 7.2 CRUD: Create, Read, Update, Delete</h4>
%h4 7.3 Follow the Data</h4>
%h4 7.4 Practice Sessions</h4>

%h3 8. Discover States and Transitions</h3>
%h4 8.1 Recognizing States and Events</h4>
%h4 8.2 Diagramming a State Model</h4>
%h4 8.3 Exploring with State Models</h4>
%h4 8.4 Change the Representation: State Tables</h4>
%h4 8.5 Practice Sessions</h4>

%h3 9. Explore the Ecosystem</h3>
%h4 9.1 Diagramming the Ecosystem</h4>
%h4 9.2 Trust Boundaries</h4>
%h4 9.3 What If...?</h4>
%h4 9.4 Follow the Data</h4>
%h4 9.5 Practice Sessions</h4>

%h2 Part III — Putting it in Context</h2>

%h3 10. Exploring When There is No User Interface</h3>
%h4 10.1 Exploring an API</h4>
%h4 10.2 Exploring a Programming Language</h4>
%h4 10.3 Exploring a Web Service</h4>
%h4 10.4 Characterizing Bugs</h4>
%h4 10.5 Practice Sessions</h4>

%h3 11. Exploring an Existing System</h3>
%h4 11.1 Start with a Recon Session</h4>
%h4 11.2 Share Observations</h4>
%h4 11.3 Interview Stakeholders to Gather Questions</h4>
%h4 11.4 Select Techniques</h4>
%h4 11.5 Record Your Findings</h4>
%h4 11.6 What about the Dreaded Unreproducible Bugs?</h4>
%h4 11.7 Practice Sessions</h4>

%h3 12. Explore Requirements</h3>
%h4 12.1 Getting into the Requirements Meeting</h4>
%h4 12.2 In the Requirements Meeting</h4>
%h4 12.3 Chartering During Requirements Discussions</h4>
%h4 12.4 Active Reading</h4>
%h4 12.5 Practice Sessions</h4>

%h3 13. Integrate Exploration Throughout</h3>
%h4 13.1 Exploring as Part of Your Test Strategy</h4>
%h4 13.2 Paired Exploration</h4>
%h4 13.3 Discovering Systemic Sources of Problems</h4>
%h4 13.4 Estimating Exploration</h4>
%h4 13.5 How to Tell You Have Explored Enough</h4>
%h4 13.6 Debriefing Stakeholders</h4>
%h4 13.7 Capturing Useful Nuggets of Wisdom</h4>
%h4 13.8 Practice Sessions</h4>

%h2 Part IV — Appendices</h2>

%h3 A1. Interviewing for Exploratory Testing Skills</h3>
%h4 A1.1 Paired Exploratory Testing as Part of an Interview</h4>
%h4 A1.2 Assessing the Candidates</h4>

%h3 A2. Test Heuristics Cheat Sheet</h3>
%h4 A2.1 General Heuristics</h4>
%h4 A2.2 Web Heuristics</h4>
