---
layout: page
title: "Notes on GIS for Web Developers"
comments: true
sharing: true
footer: true
---
%h2 1 Introduction
%h3 1.1 Demystifying GIS
%h3 1.2 Finding Free Data Sources and Applications
%h3 1.3 Becoming a GIS Programmer
%h3 1.4 What Are You Getting Yourself Into?

%h2 2 Vectors
%h3 2.1 Raw Materials
%h3 2.2 Raster Data
%h3 2.3 Vector Data
%h3 2.4 Types of Vector Data
%h3 2.5 What Data Is Available?
%h3 2.6 Know Your File Formats
%h3 2.7 Anatomy of a Shapefile
%h3 2.8 The Downloadable States of America
%h3 2.9 Downloading a Viewer
%h3 2.10 Styling Your Layers
%h3 2.11 Viewing Multiple Basemap Layers
%h3 2.12 More Data, Please
%h3 2.13 More International Data, Please
%h3 2.14 When Good Data Goes Bad
%h3 2.15 Saving Your Map in ArcExplorer
%h3 2.16 Conclusion

%h2 3 Projections
%h3 3.1 The Round Earth
%h3 3.2 Cartesian Planes
%h3 3.3 What Is a Projection?
%h3 3.4 Changing Projections in ArcExplorer
%h3 3.5 What Does Round Really Mean, Anyway?
%h3 3.6 Coordinate Reference Systems
%h3 3.7 Getting Your Data Layers Aligned
%h3 3.8 Reprojection Utilities
%h3 3.9 Conclusion

%h2 4 Rasters
%h3 4.1 Getting Started with Raster Data
%h3 4.2 Terraserver-USA: Another Source of
%h3 4.3 Mosaics and Tessellation
%h3 4.4 Temporal Analysis
%h3 4.5 Panchromatic vs. Multispectral
%h3 4.6 Scale and Resolution
%h3 4.7 Orthorectification
%h3 4.8 Downloading Free Rasters
%h3 4.9 Conclusion

%h2 5 Spatial Databases
%h3 5.1 Why Bother with a Spatial Database?
%h3 5.2 Installing PostgreSQL and PostGIS
%h3 5.3 Adding Spatial Fields
%h3 5.4 Inserting Spatial Data
%h3 5.5 Querying Spatial Data
%h3 5.6 Introspection of Spatial Data
%h3 5.7 Importing Data
%h3 5.8 Manipulating Data
%h3 5.9 Exporting Data
%h3 5.10 Indexing Data
%h3 5.11 Spatial Queries
%h3 5.12 Visualizing Data
%h3 5.13 Conclusion

%h2 6 Creating OGC Web Services
%h3 6.1 Sharing the Wealth
%h3 6.2 OGC SOA for GIS
%h3 6.3 Installing GeoServer
%h3 6.4 Adding Shapefiles Using the GUI 156
%h3 6.5 Adding Shapefiles Manually
%h3 6.6 Adding PostGIS Layers
%h3 6.7 Styling with SLD
%h3 6.8 Conclusion

%h2 7 Using OGC Web Services
%h3 7.1 Understanding WMS
%h3 7.2 WMS GetCapabilities
%h3 7.3 WMS GetMap
%h3 7.4 Understanding WFS
%h3 7.5 WFS GetCapabilities
%h3 7.6 WFS DescribeFeatureType
%h3 7.7 WFS GetFeature
%h3 7.8 Filtering WFS GetFeature Requests
%h3 7.9 Conclusion

%h2 8 OGC Clients
%h3 8.1 Mapbuilder
%h3 8.2 OpenLayers
%h3 8.3 uDig
%h3 8.4 Conclusion

%h2 9 Bringing It All Together
%h3 9.1 From CSV to SQL
%h3 9.2 Geocoding Your Data
%h3 9.3 Adding PostGIS Fields
%h3 9.4 Setting Up OGC Services
%h3 9.5 Tiling vs. Styling
%h3 9.6 Creating a Slippy Map
%h3 9.7 Beyond the Web: 3D Viewers 
%h3 9.8 Conclusion

%h2 A Mac/Linux Installation
%h3 A.1 Installing GDAL/Proj/Geos
%h3 A.2 Installing PostgreSQL and PostGIS
%h3 A.3 LibTIFF and LibGeoTIFF

%h2 B Installing Groovy
%h3 B.1 Unix, Linux, and Mac OS X
%h3 B.2 Windows
