---
layout: page
title: "Notes on Land the Tech Job You Love"
comments: true
sharing: true
footer: true
---
%h3 Introduction
%h4 The Fireman Who Loved His Job
%h4 How This Book Was Born
%h4 A Disclaimer of Sorts
%h4 What’s Inside?
%h4 Land the Tech Job You Love Online
%h4 Go Love Your Job

%h2 I The Job Search

%h3 1 The Foundation of Your Job Search
%h4 1.1 Be Honest with Yourself
%h4 1.2 Be Honest with Others
%h4 1.3 Think Like the Boss
%h4 1.4 Be a Problem Solver
%h4 1.5 Sell Yourself
%h4 1.6 Tell Stories and Give Samples of Your Work
%h4 1.7 Be Positive
%h4 1.8 Moving Ahead

%h3 2 What Do You Want in a Job?
%h4 2.1 A Crash Course in Work Motivation Theory
%h4 2.2 Dig In to What You’re Looking For
%h4 2.3 The Motivation Worksheet
%h4 2.4 What Motivates You? A Dozen Factors to Consider
%h4 2.5 Now Go Beta Test Your Worksheet

%h3 3 Résumé Content: Getting the Words Down
%h4 3.1 Before You Write Your Résumé...
%h4 3.2 Writing a Résumé Is Not Speedy
%h4 3.3 The Sections of Your Résumé
%h4 3.4 What to Leave Out of Your Résumé
%h4 3.5 Moving to Construction

%h3 4 Building Your Résumé Documents
%h4 4.1 The Three Versions of Your Résumé
%h4 4.2 General Guidelines
%h4 4.3 Use Word’s Features Correctly and Effectively
%h4 4.4 Create an Effective Summary
%h4 4.5 Check Your Word Document
%h4 4.6 Build the HTML Version
%h4 4.7 Build the Text Document
%h4 4.8 You’re Ready to Move Forward

%h3 5 Finding Your Job
%h4 5.1 It’s All About the People
%h4 5.2 Where the Jobs Are
%h4 5.3 What to Find Out About a Potential Job
%h4 5.4 Do Your Detective Work
%h4 5.5 Headhunters
%h4 5.6 Work the Hunt
%h4 5.7 Summary

%h3 6 Applying for the Job
%h4 6.1 Customize Your Résumé 
%h4 6.2 Create a Cover Letter
%h4 6.3 Put the Package Together
%h4 6.4 Never Tell Anyone Your Salary History 
%h4 6.5 And Now You Keep Looking

%h2 II The Interview and Beyond

%h3 7 Preparing for the Interview
%h4 7.1 Clear Your Schedule
%h4 7.2 Prepare to Sell the Interviewer on You
%h4 7.3 Prepare to Answer Tough Questions
%h4 7.4 Prepare a Relevant Portfolio
%h4 7.5 Prepare Your Questions to Ask
%h4 7.6 Prepare to Get to the Interview
%h4 7.7 Prepare What You’re Going to Bring with You
%h4 7.8 Preparation Is Half the Battle

%h3 8 The Interview
%h4 8.1 Work Toward Your Goal of Getting an Offer
%h4 8.2 Listen to Everything
%h4 8.3 Treat Each Person Like the CEO
%h4 8.4 A Walk Through the Interview
%h4 8.5 Sell Yourself by Telling Stories
%h4 8.6 Sell Yourself by Doing the Job
%h4 8.7 Closing the Interview
%h4 8.8 Phone Interviews
%h4 8.9 The End of Your First Day

%h3 9 Handling the Tough Interview Questions
%h4 9.1 Never Give B.S. Answers
%h4 9.2 Never Complain or Disrespect
%h4 9.3 Know the Red Flags the Interviewer Wants to Uncover
%h4 9.4 The Tough Questions
%h4 9.5 Curveballs
%h4 9.6 More Tough Questions: Exercises for the Reader

%h3 10 Too Much Information
%h4 10.1 Illegal Topics
%h4 10.2 Other Topics to Avoid
%h4 10.3 Handle Inappropriate Questions Tactfully
%h4 10.4 Who Wants to Work for a Company Like That Anyway?
%h4 10.5 It’s All About Focus

%h3 11 After the Interview: The Job Offer and Beyond
%h4 11.1 Send Thank-You Notes
%h4 11.2 And Now You Wait...
%h4 11.3 Go for Further Interviews
%h4 11.4 Give Solid References
%h4 11.5 The Job Offer 
%h4 11.6 Leave Your Job Gracefully
%h4 11.7 Getting Rejected
%h4 11.8 And the Cycle of Work Continues...

%h3 12 Staying Hirable
%h4 12.1 Improve Yourself
%h4 12.2 Improve Your Network
%h4 12.3 Improve Your Brand
%h4 12.4 Always Look for Your Next Job
%h4 12.5 It’s Never the End

%h2 Appendices
%h3 A Meaningless Clichés to Avoid
%h3 B Résumé, Cover Letter, and Email Killers
%h3 C Interview Killers
