---
layout: page
title: "Notes on Manage Your Project Portfolio"
comments: true
sharing: true
footer: true
---
%h2 1 Meet Your Project Portfolio
%h3 1.1 What a Project Portfolio Is
%h3 1.2 See the High- and Low-Level Views
%h3 1.3 Now Try This

%h2 2 See Your Future
%h3 2.1 Managing with a Project Portfolio
%h3 2.2 Managing Without a Project Portfolio
%h3 2.3 What Are Your Emergency Projects?
%h3 2.4 Lean Approaches to the Project Portfolio
%h3 2.5 Why You Should Care About the Project Portfolio
%h3 2.6 Your Portfolio Reflects Your Influence Level
%h3 2.7 Now Try This

%h2 3 Create the First Draft of Your Portfolio
%h3 3.1 Know What Work to Collect
%h3 3.2 Is the Work a Project or a Program?
%h3 3.3 Organize Your Projects into Programs As Necessary
%h3 3.4 Organize the Portfolio
%h3 3.5 Using Tools to Manage a Portfolio
%h3 3.6 Now Try This

%h2 4 Evaluate Your Projects
%h3 4.1 Should We Do This Project at All?
%h3 4.2 Decide to Commit, Kill, or Transform the Project
%h3 4.3 Commit to a Project
%h3 4.4 Kill a Project
%h3 4.5 How to Kill a Project and Keep It Dead
%h3 4.6 Killing a Senior Manager’s Pet Project
%h3 4.7 Kill Doomed Projects
%h3 4.8 Transform a Project
%h3 4.9 Now Try This 

%h2 5 Rank the Portfolio
%h3 5.1 Never Rank Alone
%h3 5.2 Rank Order the Projects in the Portfolio Using Points
%h3 5.3 Leftover Points Provide Metadata
%h3 5.4 Rank the Projects by Risk
%h3 5.5 Use Your Organization’s Context to Rank Projects
%h3 5.6 Who’s Waiting for Your Projects to Be Completed?
%h3 5.7 Rank the Work by Your Products’ Position in the Marketplace
%h3 5.8 Use Other Comparison Methods to Rank Your Projects 
%h3 5.9 Don’t Use ROI to Rank
%h3 5.10 Your Project Portfolio Is an Indicator of Your Organization’s Overall Health
%h3 5.11 Publish the Portfolio Ranking
%h3 5.12 Now Try This

%h2 6 Collaborate on the Portfolio
%h3 6.1 Organize to Commit
%h3 6.2 Build Trust
%h3 6.3 Prepare for Collaboration
%h3 6.4 Set the Stage for Collaboration
%h3 6.5 Facilitate the Portfolio Evaluation Meeting
%h3 6.6 How to Say No to More Work
%h3 6.7 Fund Projects Incrementally
%h3 6.8 Never Make a Big Commitment
%h3 6.9 Discover Barriers to Collaboration
%h3 6.10 Who Needs to Collaborate on the Portfolio?
%h3 6.11 Now Try This
 
%h2 7 Iterate on the Portfolio
%h3 7.1 Decide When to Review the Portfolio
%h3 7.2 Select an Iteration Length for Your Review Cycles
%h3 7.3 Defend the Portfolio from Attack
%h3 7.4 How to Decide If You Can’t Change Life Cycles, Road Maps, or Budgets
%h3 7.5 Make Decisions as Late as Possible
%h3 7.6 Now Try This

%h2 8 Make Portfolio Decisions
%h3 8.1 Keep a Parking Lot of Projects
%h3 8.2 Conduct a Portfolio Evaluation Meeting
%h3 8.3 Conduct a Portfolio Evaluation Meeting at Least Quarterly to Start
%h3 8.4 Review Your Decisions 
%h3 8.5 Now Try This

%h2 9 Evolve Your Portfolio
%h3 9.1 Lean Helps You Evolve Your Portfolio Approach
%h3 9.2 Choose What to Stabilize
%h3 9.3 Stabilize the Timebox
%h3 9.4 Stabilize the Number of Work Items in Progress
%h3 9.5 Fix the Queue Length for a Team
%h3 9.6 When You Need to Fix Cost
%h3 9.7 Management Changes When You Stabilize Something About Your Projects
%h3 9.8 Now Try This

%h2 10 Measure the Essentials
%h3 10.1 Measure Value
%h3 10.2 What You Need to Measure About Your Projects
%h3 10.3 Measure Project Velocity: Current and Historical
%h3 10.4 Measure Cumulative Flow for the Project
%h3 10.5 Measure Obstacles Preventing the Team’s Progress
%h3 10.6 Measure the Product Backlog Burndown Chart
%h3 10.7 Measure Run Rate and Other Cost Data, If Necessary
%h3 10.8 Don’t Even Try to Measure Individual Productivity
%h3 10.9 What You Need to Measure About the Portfolio
%h3 10.10 Measure Capacity by Team, Not by Individual
%h3 10.11 People Finish More with Lean and Agile
%h3 10.12 Now Try This

%h2 11 Define Your Mission
%h3 11.1 Define the Business You Are In
%h3 11.2 What Good Is a Mission, Anyway?
%h3 11.3 Define an Actionable Mission for the Organization
%h3 11.4 Draft a Mission from Scratch
%h3 11.5 Brainstorm the Essentials of a Mission
%h3 11.6 Refine the Mission
%h3 11.7 Derive Your Mission from Your Work
%h3 11.8 How to Define a Mission When No One Else Will
%h3 11.9 Beware of the Mission Statement Traps
%h3 11.10 Test Your Mission
%h3 11.11 Make the Mission Real for Everyone
%h3 11.12 Now Try This

%h2 12 Start Somewhere . . . But Start
