---
layout: page
title: "Notes on New Programmer's Survival Manual"
comments: true
sharing: true
footer: true
---
%h2 Introduction

%h2 Part I — Professional Programming

%h3 1. Program for Production
%h4 Tip 1. Beat Up Your Code
%h4 Tip 2. Insist on Correctness
%h4 Tip 3. Design with Tests
%h4 Tip 4. Tame Complexity
%h4 Tip 5. Fail Gracefully
%h4 Tip 6. Be Stylish
%h4 Tip 7. Improve Legacy Code
%h4 Tip 8. Review Code Early and Often

%h3 2. Get Your Tools in Order
%h4 Tip 9. Optimize Your Environment
%h4 Tip 10. Speak Your Language Fluently
%h4 Tip 11. Know Your Platform
%h4 Tip 12. Automate Your Pain Away
%h4 Tip 13. Control Time (and Timelines)
%h4 Tip 14. Use the Source, Luke

%h2 Part II — People Skills

%h3 3. Manage Thy Self
%h4 Tip 15. Find a Mentor
%h4 Tip 16. Own the Image You Project
%h4 Tip 17. Be Visible
%h4 Tip 18. Ace Your Performance Review
%h4 Tip 19. Manage Your Stress
%h4 Tip 20. Treat Your Body Right

%h3 4. Teamwork
%h4 Tip 21. Grok Personality Types
%h4 Tip 22. Connect the Dots
%h4 Tip 23. Work Together
%h4 Tip 24. Meet Effectively

%h2 Part III — The Corporate World

%h3 5. Inside the Company
%h4 Tip 25. Know Your Peeps
%h4 Tip 26. Know Your (Corporate) Anatomy

%h3 6. Mind Your Business
%h4 Tip 27. Get with the Project
%h4 Tip 28. Appreciate the Circle of (a Product’s) Life
%h4 Tip 29. Put Yourself in the Company’s Shoes
%h4 Tip 30. Identify Corporate Antipatterns

%h2 Part IV — Looking Forward

%h3 7. Kaizen
%h4 Tip 31. Mind Your Head
%h4 Tip 32. Never Stop Learning
%h4 Tip 33. Find Your Place

%h2 A1. Bibliography
