---
layout: page
title: "Notes on The Passionate Programmer"
comments: true
sharing: true
footer: true
---
%h1 The Passionate Programmer - Creating a Remarkable Career in Software Development</h1>

%h2 Part I — Choosing Your Market</h2>

%h3 Tip 1. Lead or Bleed?</h3>
%h3 Tip 2. Supply and Demand</h3>
%h3 Tip 3. Coding Don’t Cut It Anymore</h3>
%h3 Tip 4. Be the Worst</h3>
%h3 Tip 5. Invest in Your Intelligence</h3>
%h3 Tip 6. Don’t Listen to Your Parents</h3>
%h3 Tip 7. Be a Generalist</h3>
%h3 Tip 8. Be a Specialist</h3>
%h3 Tip 9. Don’t Put All Your Eggs in Someone Else’s Basket</h3>
%h3 Tip 10. Love It or Leave It</h3>

%h2 Part II — Investing in Your Product</h2>
%h3 Tip 11. Learn to Fish</h3>
%h3 Tip 12. Learn How Businesses Really Work</h3>
%h3 Tip 13. Find a Mentor</h3>
%h3 Tip 14. Be a Mentor</h3>
%h3 Tip 15. Practice, Practice, Practice</h3>
%h3 Tip 16. The Way That You Do It</h3>
%h3 Tip 17. On the Shoulders of Giants</h3>
%h3 Tip 18. Automate Yourself into a Job</h3>

%h2 Part III — Executing</h2>
%h3 Tip 19. Right Now</h3>
%h3 Tip 20. Mind Reader</h3>
%h3 Tip 21. Daily Hit</h3>
%h3 Tip 22. Remember Who You Work For</h3>
%h3 Tip 23. Be Where You’re At</h3>
%h3 Tip 24. How Good a Job Can I Do Today?</h3>
%h3 Tip 25. How Much Are You Worth?</h3>
%h3 Tip 26. A Pebble in a Bucket of Water</h3>
%h3 Tip 27. Learn to Love Maintenance</h3>
%h3 Tip 28. Eight-Hour Burn</h3>
%h3 Tip 29. Learn How to Fail</h3>
%h3 Tip 30. Say “No”</h3>
%h3 Tip 31. Don’t Panic</h3>
%h3 Tip 32. Say It, Do It, Show It</h3>

%h2 Part IV — Marketing... Not Just for Suits</h2>
%h3 Tip 33. Perceptions, Perschmeptions</h3>
%h3 Tip 34. Adventure Tour Guide</h3>
%h3 Tip 35. Me Rite Reel Nice</h3>
%h3 Tip 36. Being Present</h3>
%h3 Tip 37. Suit Speak</h3>
%h3 Tip 38. Change the World</h3>
%h3 Tip 39. Let Your Voice Be Heard</h3>
%h3 Tip 40. Build Your Brand</h3>
%h3 Tip 41. Release Your Code</h3>
%h3 Tip 42. Remarkability</h3>
%h3 Tip 43. Making the Hang</h3>

%h2 Part V — Maintaining Your Edge</h2>
%h3 Tip 44. Already Obsolete</h3>
%h3 Tip 45. You’ve Already Lost Your Job</h3>
%h3 Tip 46. Path with No Destination</h3>
%h3 Tip 47. Make Yourself a Map</h3>
%h3 Tip 48. Watch the Market</h3>
%h3 Tip 49. That Fat Man in the Mirror</h3>
%h3 Tip 50. The South Indian Monkey Trap</h3>
%h3 Tip 51. Avoid Waterfall Career Planning</h3>
%h3 Tip 52. Better Than Yesterday</h3>
%h3 Tip 53. Go Independent</h3>

%h2 Have Fun</h2>
