---
layout: page
title: "Notes on Pomodoro Technique Illustrated"
comments: true
sharing: true
footer: true
---
%h2 1 One Activity at a Time
%h3 A Cucumber and an Artichoke Meet at a Bar
%h3 Getting Started
%h3 Bus Time
%h3 The Tomato-Shaped Timer
%h3 Try It Now: Timeboxed Activity
%h3 Max, My Father’s Grandfather
%h3 Why the Pomodoro Technique?
%h3 Self-Reflection on One Activity at a Time

%h2 2 Context
%h3 A Cucumber and an Artichoke Meet at the Zoo
%h3 The Foundation
%h3 The Brain Stack
%h3 Brain Performance
%h3 Rhythm
%h3 Superstition or Focus Enablers?
%h3 Conditioned and Unconditioned Reflexes 
%h3 Left Brain and Right Brain
%h3 Savant
%h3 Hyperactivity
%h3 Working Memory
%h3 Association Machine
%h3 Succession and Duration
%h3 Dreaming
%h3 Absorbing
%h3 Food-and-Sleep Clock
%h3 Flow
%h3 Arousal
%h3 Procrastination
%h3 Heroism and Guilt
%h3 Regulatory Process
%h3 Thin Slicing
%h3 Embrace Change
%h3 Paradox of Choice
%h3 Self-Reflection on Context

%h2 3 Mechanics
%h3 A Cucumber and an Artichoke Meet at the Library
%h3 Learning the Technique
%h3 Stages
%h3 Deming-Shewhart Cycle
%h3 Tools
%h3 Try It Now: Make an Activity Inventory Sheet
%h3 Finding the Starting Point
%h3 Morning
%h3 Try It Now: Make a To Do Today Sheet
%h3 Commitment
%h3 Direct and Immediate Feedback
%h3 Prospective Memory
%h3 The Now List
%h3 Break
%h3 Detach
%h3 Set Break
%h3 Itinerary
%h3 Activity Completed
%h3 Abstract Time Unit
%h3 Recording and Processing
%h3 Try It Now: Recording
%h3 Kaizen
%h3 Right Here, Right Now
%h3 Self-Reflection on Mechanics

%h2 4 Interruptions
%h3 A Cucumber and an Artichoke Speak on the Phone
%h3 Keeping on Course
%h3 Attention Deficit Trait
%h3 Avoid LIFO and BPUF
%h3 Sustainable Pace
%h3 Interruption Strategy
%h3 Internal Interruptions
%h3 Accept, Record, and Continue
%h3 Inverting Dependency
%h3 It’s Atomic
%h3 Constant Internal Interruptions
%h3 External Interruptions
%h3 Protect the Pomodoro
%h3 Visualize and Then Intensify
%h3 Void
%h3 External Interruptions Strategy
%h3 Interruption Notation
%h3 Aware of the Extent
%h3 Self-Reflection on Interruptions

%h2 5 Estimate
%h3 A Cucumber and an Artichoke Meet at the Races
%h3 Measurements and Guesses
%h3 Estimates on Your Activity Inventory Sheet
%h3 Wisdom of Crowds
%h3 Activity Size
%h3 Choose
%h3 Quantitative Estimate Error
%h3 Yesterday’s Weather
%h3 Estimates on Records Sheet
%h3 Drum-Buffer-Rope
%h3 Self-Reflection on Estimate

%h2 6 Adapt
%h3 A Cucumber and an Artichoke Meet at the Movie Theater
%h3 Tweaking
%h3 Simple Tools
%h3 Index Cards
%h3 Administrative Pomodoro
%h3 Sound and Shape
%h3 Length of Pomodori
%h3 Length of Breaks
%h3 Progress Sheet
%h3 Priority Tournament
%h3 Inbox to Zero
%h3 Repeated Reviews
%h3 Daily Mind Map
%h3 Prescriptive and Adaptive
%h3 Ring Disquiet 
%h3 Self-Reflection on Adapt

%h2 7 Team
%h3 A Cucumber and an Artichoke Meet in the Conference Room
%h3 Working with Others
%h3 Timeboxed Meetings
%h3 Tracking Meetings
%h3 Pair Work Rhythm
%h3 Authorizing Pomodoro Start
%h3 Pair Pomodoro Length
%h3 Split a Pair Temporarily
%h3 Tracking Pair Work
%h3 Team Culture
%h3 Self-Reflection on Team

%h2 A Process Map

%h2 B Resources

%h2 C Afterword
