---
layout: page
title: "Notes on Pragmatic Version Control Using Subversion"
comments: true
sharing: true
footer: true
---
%h2 1 Introduction
%h3 1.1 Version Control in Action
%h3 1.2 Road Map
%h3 1.3 Why Choose Subversion

%h2 2 What is Version Control?
%h3 2.1 The Repository
%h3 2.2 What Should We Store?
%h3 2.3 Working Copies and Manipulating Files
%h3 2.4 Projects, Directories, and Files
%h3 2.5 Where Do Versions Come In?
%h3 2.6 Tags
%h3 2.7 Branches
%h3 2.8 Merging
%h3 2.9 Locking Options
%h3 2.10 Configuration Management (CM)

%h2 3 Getting Started with Subversion
%h3 3.1 Installing Subversion
%h3 3.2 Creating a Repository
%h3 3.3 Creating a Simple Project
%h3 3.4 Starting to Work with a Project
%h3 3.5 Making Changes
%h3 3.6 Updating the Repository
%h3 3.7 When Worlds Collide
%h3 3.8 Conflict Resolution

%h2 4 How To...
%h3 4.1 Our Basic Philosophy
%h3 4.2 Important Steps When Using Version Control

%h2 5 Accessing a Repository
%h3 5.1 Network Protocols
%h3 5.2 Choosing a Networking Option

%h2 6 Common Subversion Commands
%h3 6.1 Checking Things Out
%h3 6.2 Keeping Up-to-Date
%h3 6.3 Adding Files and Directories
%h3 6.4 Properties
%h3 6.5 Copying and Moving Files and Directories
%h3 6.6 Seeing What Has Changed
%h3 6.7 Handling Merge Conflicts
%h3 6.8 Committing Changes
%h3 6.9 Examining Change History
%h3 6.10 Removing a Change

%h2 7 File Locking and Binary Files
%h3 7.1 File Locking Overview
%h3 7.2 File Locking in Practice
%h3 7.3 When to use Locking

%h2 8 Organizing Your Repository
%h3 8.1 A Simple Project
%h3 8.2 Multiple Projects
%h3 8.3 Multiple Repositories

%h2 9 Using Tags and Branches
%h3 9.1 Tags and Branches
%h3 9.2 Creating a Release Branch
%h3 9.3 Working in a Release Branch
%h3 9.4 Generating a Release 
%h3 9.5 Fixing Bugs in a Release Branch
%h3 9.6 Developer Experimental Branches
%h3 9.7 Working with Experimental Code
%h3 9.8 Merging the Experimental Branch

%h2 10 Creating a Project
%h3 10.1 Creating the Initial Project
%h3 10.2 Structure within the Project
%h3 10.3 Sharing Code between Projects

%h2 11 Third-Party Code
%h3 11.1 Binary Libraries
%h3 11.2 Libraries with Source Code
%h3 11.3 Keyword Expansion during Imports

%h2 A Install, Network, Secure, and Administer
%h3 A.1 Installing Subversion
%h3 A.2 Networking with svnserve
%h3 A.3 Networking with svn+ssh
%h3 A.4 Networking with Apache
%h3 A.5 Securing Subversion
%h3 A.6 Backing Up Your Repository

%h2 B Migrating to Subversion
%h3 B.1 Getting cvs2svn
%h3 B.2 Choosing How Much to Convert
%h3 B.3 Converting Your Repository

%h2 C Third-Party Subversion 
%h3 C.1 TortoiseSVN
%h3 C.2 IDE Integration
%h3 C.3 Other Tools

%h2 D Advanced Topics
%h3 D.1 Programmatic Access to Subversion
%h3 D.2 Advanced Repository Management

%h2 E Command Summary and Recipes
%h3 E.1 Subversion Command Summary
%h3 E.2 Recipes
