---
layout: page
title: "Notes on Pragmatic Version Control Using Git"
comments: true
sharing: true
footer: true
---
%h2 Part I — Welcome to the Distributed World

%h3 1. Version Control the Git Way
%h4 1.1 The Repository
%h4 1.2 What Should You Store?
%h4 1.3 Working Trees
%h4 1.4 Manipulating Files and Staying in Sync
%h4 1.5 Tracking Projects, Directories, and Files
%h4 1.6 Tracking Milestones with Tags 
%h4 1.7 Creating Alternate Histories with Branches 
%h4 1.8 Merging 
%h4 1.9 Locking Options 
%h4 1.10 Next Steps 

%h3 2. Setting Up Git
%h4 2.1 Installing Git 
%h4 2.2 Configuring Git 
%h4 2.3 Using Git’s GUI 
%h4 2.4 Accessing Git’s Built-in Help 

%h3 3. Creating Your First Project
%h4 3.1 Creating a Repository
%h4 3.2 Making Changes
%h4 3.3 Starting to Work with a Project
%h4 3.4 Using and Understanding Branches 
%h4 3.5 Handling Releases 
%h4 3.6 Cloning a Remote Repository 

%h2 Part II — Everyday Git

%h3 4. Adding and Committing: Git Basics
%h4 4.1 Adding Files
%h4 4.2 Committing Changes
%h4 4.3 Seeing What Has Changed
%h4 4.4 Managing Files

%h3 5. Understanding and Using Branches
%h4 5.1 What Are Branches?
%h4 5.2 Creating a New Branch
%h4 5.3 Merging Changes Between Branches
%h4 5.4 Handling Conflicts
%h4 5.5 Deleting Branches
%h4 5.6 Renaming Branches 

%h3 6. Working with Git’s History
%h4 6.1 Inspecting Git’s Log
%h4 6.2 Specifying Revision Ranges
%h4 6.3 Looking at Differences Between Versions
%h4 6.4 Finding Out Who’s to Blame 
%h4 6.5 Following Content 
%h4 6.6 Undoing Changes 
%h4 6.7 Rewriting History 

%h3 7. Working with Remote Repositories
%h4 7.1 Network Protocols
%h4 7.2 Cloning a Remote Repository
%h4 7.3 Keeping Up-to-Date
%h4 7.4 Pushing Changes
%h4 7.5 Adding New Remote Repositories

%h3 8. Organizing Your Repository
%h4 8.1 Marking Milestones with Tags 
%h4 8.2 Handling Release Branches 
%h4 8.3 Using Valid Names for Tags and Branches 
%h4 8.4 Tracking Multiple Projects 
%h4 8.5 Using Git Submodules to Track External Repositories 

%h3 9.Beyond the Basics
%h4 9.1 Compacting Repository History
%h4 9.2 Exporting Your Repository
%h4 9.3 Rebasing a Branch
%h4 9.4 Using the Reflog
%h4 9.5 Bisecting Your Repository

%h3 10. Migrating to Git
%h4 10.1 Communicating with SVN 
%h4 10.2 Making Sure git-svn Is Available 
%h4 10.3 Importing a Subversion Repository 
%h4 10.4 Keeping Up-to-Date with a Subversion Repository 
%h4 10.5 Pushing Changes to SVN 
%h4 10.6 Importing from CVS 

%h3 11. Running a Git Server with Gitosis
%h4 11.1 Making Sure Dependencies Are Met 
%h4 11.2 Installing Gitosis 
%h4 11.3 Creating Administrator Credentials 
%h4 11.4 Configuring the Server for Gitosis 
%h4 11.5 Initializing Gitosis 
%h4 11.6 Configuring Gitosis 
%h4 11.7 Adding New Repositories 
%h4 11.8 Setting Up a Public Repository 
%h4 11.9 Closing Thoughts 

%h2 Part III — Administration

%h2 Part IV — Appendixes

%h3 A1. Git Command Quick Reference
%h4 A1.1 Setup and Initialization
%h4 A1.2 Normal Usage
%h4 A1.3 Branches
%h4 A1.4 History
%h4 A1.5 Remote Repositories
%h4 A1.6 Git to SVN Bridge

%h3 A2. Other Resources and Tools
%h4 A2.1 Extras Bundled with Git
%h4 A2.2 Third-Party Tools
%h4 A2.3 Git Repository Hosting
%h4 A2.4 Online Resources
