---
layout: page
title: "Notes on The Rails View"
comments: true
sharing: true
footer: true
---
%h2 1. Creating an Application Layout
%h3 1.1 Creating a Basic Layout
%h3 1.2 Setting Up a Boilerplate
%h3 1.3 Building the Page Frame
%h3 1.4 Adding a Sidebar
%h3 1.5 Adding Navigation
%h3 1.6 Displaying Notifications
%h3 1.7 Validating Our Code
%h3 1.8 Testing Internet Explorer
%h3 1.9 Wrapping Up

%h2 2. Improving Readability
%h3 2.1 Choosing a Templating Language
%h3 2.2 Standardizing Coding Practices
%h3 2.3 Simplifying Complex Output
%h3 2.4 Working with Models 
%h3 2.5 Displaying Conditional Content 
%h3 2.6 Adding Model DOM IDs for JavaScript 
%h3 2.7 Cleaning Up 
%h3 2.8 Wrapping Up 

%h2 3. Adding Cascading Style Sheets
%h3 3.1 Using the Asset Pipeline
%h3 3.2 Learning SCSS
%h3 3.3 Adding Sprites
%h3 3.4 Using Web Fonts
%h3 3.5 Wrapping Up

%h2 4. Adding JavaScript
%h3 4.1 Using JavaScript from Rails 
%h3 4.2 Testing Ajax 
%h3 4.3 Wrapping Up 

%h2 5. Building Maintainable Forms
%h3 5.1 Using Semantic Form Tags 
%h3 5.2 Building Custom Form Builders 
%h3 5.3 Looking Toward the Future of HTML5 Form Elements 
%h3 5.4 Wrapping Up 

%h2 6. Using Presenters
%h3 6.1 Presenting a Record 
%h3 6.2 Presenting Multiple Records 
%h3 6.3 Using Presenters for Serialization 
%h3 6.4 Wrapping Up 

%h2 7. Handling Mobile Views
%h3 7.1 Building a Flexible Layout
%h3 7.2 The Next Level with Responsive Design (@media queries)
%h3 7.3 Using Mobile-Specific Templates
%h3 7.4 Using jQuery Mobile
%h3 7.5 Wrapping Up

%h2 8. Working with Email
%h3 8.1 Building a Mailer
%h3 8.2 Handling Email Templates
%h3 8.3 Testing Locally 
%h3 8.4 Testing Across Clients 
%h3 8.5 Wrapping Up 

%h2 9. Optimizing Performance
%h3 9.1 A/B Testing with Vanity 
%h3 9.2 Performance Testing and Maintenance 
%h3 9.3 Wrapping Up 
%h3 9.4 Where Do We Go from Here? 

%h2 Part I — Appendices
%h3 A1. The Rails View Rules
