---
layout: page
title: "Notes on Rails Recipes"
comments: true
sharing: true
footer: true
---
%h2 Introduction

%h2 Part I - Database Recipes
%h3 Recipe 1. Create Meaningful Many-to-Many Relationships
%h3 Recipe 2. Create Declarative Named Queries
%h3 Recipe 3. Connect to Multiple Databases
%h3 Recipe 4. Set Default Criteria for Model Operations
%h3 Recipe 5. Add Behavior to Active Record Associations
%h3 Recipe 7. Version Your Models
%h3 Recipe 8. Perform Calculations on Your Model Data
%h3 Recipe 9. Use Active Record Outside of Rails
%h3 Recipe 10. Connect to Legacy Databases
%h3 Recipe 11. Make Dumb Data Smart with composed_of()
%h3 Recipe 12. DRY Up Your YAML Database Configuration File
%h3 Recipe 13. Use Models Safely in Migrations
%h3 Recipe 14. Create Self-referential Many-to-Many Relationships
%h3 Recipe 15. Protect Your Data from Accidental Mass Update
%h3 Recipe 16. Create a Custom Model Validator
%h3 Recipe 17. Nest has_many :through Relationships
%h3 Recipe 18. Keep Your Application in Sync with Your Database Schema
%h3 Recipe 19. Seed Your Database with Starting Data
%h3 Recipe 20. Use Helpers in Models
%h3 Recipe 21. Avoid Dangling Database Dependencies

%h2 Part II — Controller Recipes
%h3 Recipe 22. Create Nested Resources
%h3 Recipe 23. Create a Custom Action in a REST Controller
%h3 Recipe 24. Create a Helper Method to Use in Both Controllers and Views
%h3 Recipe 25. Trim Your REST Resources
%h3 Recipe 26. Constrain Routes by Subdomain (and Other Conditions)
%h3 Recipe 27. Add Web Services to Your Actions
%h3 Recipe 28. Write Macros
%h3 Recipe 29. Manage a Static HTML Site with Rails
%h3 Recipe 30. Syndicate Your Site with RSS
%h3 Recipe 31. Set Your Application’s Home Page

%h2 Part III — User Interface Recipes
%h3 Recipe 32. Create a Custom Form Builder
%h3 Recipe 33. Pluralize Words on the Fly (or Not)
%h3 Recipe 34. Insert Action-Specific Content in a Layout
%h3 Recipe 35. Add Unobtrusive Ajax with jQuery
%h3 Recipe 36. Create One Form for Many Models
%h3 Recipe 37. Cache Local Data with HTML5 Data Attributes

%h2 Part IV — Testing Recipes
%h3 Recipe 38. Automate Tests for Your Models
%h3 Recipe 39. Test Your Controllers
%h3 Recipe 40. Test Your Helpers
%h3 Recipe 41. Test Your Outgoing Mailers
%h3 Recipe 42. Test Across Multiple Controllers
%h3 Recipe 43. Focus Your Tests with Mocking and Stubbing
%h3 Recipe 44. Extract Test Fixtures from Live Data
%h3 Recipe 45. Create Dynamic Test Fixtures
%h3 Recipe 46. Measure and Improve Your Test Coverage
%h3 Recipe 47. Create Test Data with Factories

%h2 Part V — Email Recipes
%h3 Recipe 48. Send Gracefully Degrading Rich-Content Emails
%h3 Recipe 49. Send Email with Attachments
%h3 Recipe 50. Test Incoming Email

%h2 Part VI — Big-Picture Recipes
%h3 Recipe 51. Roll Your Own Authentication
%h3 Recipe 52. Protect Your Application with Basic HTTP Authentication
%h3 Recipe 53. Authorize Users with Roles
%h3 Recipe 54. Force Your Users to Access Site Functions with SSL
%h3 Recipe 55. Create Secret URLs
%h3 Recipe 56. Use Rails Without a Database
%h3 Recipe 57. Create Your Own Ruby Gem
%h3 Recipe 58. Use Bundler Groups to Manage Per-Environment Dependencies
%h3 Recipe 59. Package Rake Tasks for Reuse with a Gem
%h3 Recipe 60. Explore Your Rails Application with the Console
%h3 Recipe 61. Automate Work with Your Own Rake Tasks
%h3 Recipe 62. Generate Documentation for Your Application
%h3 Recipe 63. Render Application Data as Comma-Separated Values
%h3 Recipe 64. Debug and Explore Your Application with the ruby-debug Gem
%h3 Recipe 65. Render Complex Documents as PDFs

%h2 Part VII — Extending Rails
%h3 Recipe 66. Support Additional Content Types with a Custom Renderer
%h3 Recipe 67. Accept Additional Content Types with a Custom Parameter Parser
%h3 Recipe 68. Templatize Your Generated Rails Applications
%h3 Recipe 69. Automate Recurring Code Patterns with Custom Generators
%h3 Recipe 70. Create a Mountable Application as a Rails Engine Plugin
