---
layout: page
title: "Notes on tmux"
comments: true
sharing: true
footer: true
---
%h2 1. Learning The Basics
%h3 1.1 Installing tmux
%h3 1.2 Starting tmux 
%h3 1.3 Detaching and Attaching Sessions
%h3 1.4 Working with Windows
%h3 1.5 Working with Panes
%h3 1.6 Working with Command Mode
%h3 1.7 What’s Next?

%h2 2. Configuring tmux
%h3 2.1 Introducing the .tmux.conf File 
%h3 2.2 Customizing Keys, Commands, and User Input 
%h3 2.3 Visual Styling 
%h3 2.4 Customizing the Status Bar 
%h3 2.5 What’s Next? 

%h2 3. Scripting Customized tmux Environments
%h3 3.1 Creating a Custom Setup with tmux Commands
%h3 3.2 Using tmux Configuration for Setup
%h3 3.3 Managing Configuration with tmuxinator 
%h3 3.4 What’s Next? 

%h2 4. Working With Text and Buffers
%h3 4.1 Scrolling Through Output with Copy Mode
%h3 4.2 Copying and Pasting Text 
%h3 4.3 Working with the Clipboard on Linux 
%h3 4.4 Using OS X Clipboard Commands 
%h3 4.5 What’s Next? 

%h2 5. Pair Programming with tmux
%h3 5.1 Pairing with a Shared Account 
%h3 5.2 Using a Shared Account and Grouped Sessions 
%h3 5.3 Pairing with Separate Accounts and Sockets 
%h3 5.4 What’s Next? 

%h2 6. Workflows
%h3 6.1 Working Effectively with Panes and Windows 
%h3 6.2 Managing Sessions 
%h3 6.3 tmux and Your Operating System 
%h3 6.4 What’s Next? 
