---
layout: page
title: "resume"
comments: true
sharing: true
footer: true
---
%h2 Contact
James Schumann
%br
Kitchener-Waterloo, Ontario, Canada
%br
james@schumann.ca
%br 
%a{:href => "http://james.schumann.ca"} http://james.schumann.ca

%h2 Professional Summary
%ul
  %li
    13 years of professional web development experience
  %li
    7 years of Linux system administration experience
  %li
    Expertise in automated software testing and system monitoring
  %li
    Expertise in configuration management and DevOps
  %li
    Managed teams of three to twenty individuals

%h2 Work Experience
%p
  Waterloo Region District School Board (2009 – Present)
  %br
  %strong Web Developer
  %ul
    %li 
      Created custom websites and web applications, some managment of web
      development projects, server and database administration
%p
  Resonant Studios Web Design, Guelph, Ontario (2006 - 2009)
  %br
  %strong Partner
  %ul
    %li
      Created custom websites and web applications, and managed web development
      projects, for a diverse clientele

1999 – 2007
Web Developer and Analyst – The Learning Commons, University of Guelph
Various roles in support of The Learning Commons' staff and the development of its
IT infrastructure and web properties; worked alone or as part of a team, with varying
degrees of supervision and supervisory responsibilities

2005 – 2007
Peer Helper Supervisor, The Learning Commons, University of Guelph
Supervised, hired, and trained Writing Peer Helpers; developed and delivered new,
collaborative programming; worked with students to improve their writing skills

2002 – 2004
Teaching Assistant, McMaster University, Hamilton, On.
Created and taught course-related materials for four courses of various sizes and
levels

%h2 Education
Honour Bachelor of Arts – Philosophy and Political Science
University of Guelph, Guelph, On., 2002

%h2 Technology Skills

%h3 Web Development and Coding
%ul
  %li
    Strong HTML/XHTML fundamentals
  %li
    CSS, and developing with web standards
  %li
    Javascript and DOM scripting/manipulation
  %li
    XML and related technologies, including XSLT/XSLFO, Xpath, and XQuery
  %li
    Apache, Mongrel, and Microsoft IIS webserver configuration and deployment

%h3 Web Application Development
%ul
  %li
    Drupal as CMS and application development platform
  %li
    Custom Drupal module development
  %li
    WordPress and MediaWiki as a Content Management Systems (CMS)
  %li
    PHP application development, deployment and maintenance
  %li
    Ruby/Ruby on Rails application development, deployment and maintenance
  %li
    AJAX development and interface design
  %li
    Some JSP and Perl (CGI) development
  %li
    Cold Fusion application development, maintenance, and troubleshooting

%h3 Database Development
%ul
  %li
    MySQL installation, administration, migration, and database development
  %li
    Microsoft SQL Server database development
  %li
    Microsoft Access database development
  %li
    Experience integrating applications with PostgreSQL and Oracle

%h3 Standards and Testing
%ul
  %li
    Experience creating, maintaining, and adhering to design standards
  %li
    SimpleTest (PHP) and RSpec (Ruby) for documentation and automated testing
  %li
    Selenium and Selenium IDE for automated, in-browser testing
  %li
    Use of automated testing frameworks to schedule and distribute testing
  %li
    Use of Nagios and Scout for website monitoring
  %li
    Configuration, administration, and use of SVN for version control

%h3 Desktop Computing Experience
%ul
  %li
    Typical WRDSB desktop applications (ex: FirstClass)
  %li
    Microsoft Windows, Desktop Linux, and Mac OS operating systems
  %li
    Microsoft Office and OpenOffice.org suites
  %li
    Graphic design tools, including the GIMP and Inkscape
  %li
    Dreamweaver and Contribute

%h3 Server Support
%ul
  %li
    Windows and Linux (Ubuntu, SUSE, RedHat) server setup and administration
  %li
    Hardware requirements gathering, purchasing, installation and configuration

Greetings, jschumann,
A Job has been created in group Portland (Oregon): Drupal + Linux System Administrator | Collaborative Vision LLC
Linux System Administrator |154059

We are looking for an experienced system administrator to setup and maintain servers hosting multiple drupal installations, as well as other open source tools.

This individual should have proven experience working with server level Linux administration and optimization.

The position will require setting up multi site infrastructures and deployment strategies for multiple sites.

Daily Responsibilities:

- Setup and maintain servers for hosting multiple production websites running Drupal and other web tools

- Setup deployment infrastructure for testing and deploying changes to live sites

- Optimizing servers for Drupal and high traffic

- Work with existing developers on common practices

Necessary Skills:


Experience with LAMP administration and optimization for Drupal

Experience with OpenSuse, Fedora, Ubuntu, and Debian linux distributions.

Experience administering production Linux servers, serving multiple users.

Experience with git, Apache, postfix, OpenSSH server software

Experience with Nginx and fastcgi

Expertise in at least two scripting languages (Python, Shell, Perl, TCL, etc.)

Experience with major package management systems: APT, Yum, Zypper

Experience with networking protocols: http, https, tcp/ip, ssh, smtp, ldap, etc.

Experience with web server security and applications

Experience Drush, Drush Make and installation profiles

Experience with Aegir a plus

Experience working with and setting up Apache Solr

Git source control


Nice to Have:

-Experience with Nagios system monitoring software

-Experience with rsync and rdist-backup backups software

-Experience with Jenkins continuous integration software

-Experience with serial attached storage (SAS)

Experience with Ganeti virtual machine management software

-Experience with XEN virtualization

- Knowledge of OpenSuse, Fedora, Ubuntu, Debian

- Experience with open source software such as Bugzilla, MediaWiki

- Good communicator

- Open to learning new skills

