---
layout: page
title: "Resume"
comments: true
sharing: true
footer: true
---
%h2 Contact
James Schumann
%br
Kitchener-Waterloo, Ontario, Canada
%br
james@schumann.ca
%br 
%a{:href => "http://jschumann.github.io"} http://jschumann.github.io

%h2 Professional Summary
%ul
  %li
    13 years of professional web development experience
  %li
    7 years of Linux system administration experience
  %li
    Expertise in configuration management and DevOps
  %li
    Expertise in automated software testing and system monitoring
  %li
    Managed teams of three to twenty individuals

%h2 Work Experience
%p
  %strong Web Developer / Support Analyst
  %br Waterloo Region District School Board (2009 – Present)
  %ul
    %li 
      Created custom websites and web applications using Drupal,
      WordPress, Ruby on Rails, and other open source tools and 
      frameworks
    %li
      Some managment of web development projects
    %li
      Administered production Linux (Ubuntu and RedHat) servers, 
      serving multiple users
    %li
      Database server administration (MySQL, Redis, PostgreSQL),
      including backups, replication, load balancing, 
      high availability, and failover
    %li
      Introduced automated, centralized server provisioning and 
      configuration management, as well as automated application deployment,
      using Opscode Chef
    %li 
      Experience with Solarwinds system monitor and introduced Nagios for
      service availability monitoring
    %li
      Introduced Jenkins continuous integration software for automated 
      job scheduling and monitoring
    %li
      Introduced source code control using Git and GitHub
    %li
      Experience with VMWare virtual machine management software, and 
      introduced VirtualBox for use by software developers
    %li
      Installed, configured, and maintained Apache and Nginx webservers
    %li
      Setup, maintained, and optimized multi-server infrastructure for Drupal, 
      WordPress, Ruby on Rails, and other web development frameworks and applications
    %li
      Setup deployment infrastructure for testing and deploying changes to live sites
    %li
      Worked with other developers to build common practices and improve the quality
      of our work

%p
  %strong Partner
  %br Resonant Studios Web Design, Guelph, Ontario (2006 - 2009)
  %ul
    %li
      Created custom websites and web applications
    %li
      Managed web development projects 
    %li
      Worked with a diverse clientele - public and private sectors; 
      individuals, SMBs, large and small departments within 
      large organizations

%p
  %strong Web Developer and Analyst
  %br The Learning Commons, University of Guelph (1999 – 2007)
  %ul
    %li
      Redesigned and rebuilt The Learning Commons' entire web presence
    %li
      Created custom web applications, including e-commerce
    %li
      Administered multiple Linux and Windows web servers
    %li
      Progressed from working alone, under direct supervision, to team member,
      to leading project teams and project management
    %li
      Did innovative work with XML, content mangement, and multi-format
      content delivery and presentation
    %li
      Worked within very tight budgetary constraints
    %li
      Developed broad experience working with open source web development
      tools, platforms, and systems

%p
  %strong Peer Helper Supervisor (Writing Services)
  %br The Learning Commons, University of Guelph (2005 – 2007)
  %ul
    %li
      Hired, trained, and supervised student para-professionals
    %li
      Developed and delivered new, collaborative programming with other 
      Learning Commons staff and staff outside the Learning Commons
    %li
      Taught workshops on grammar, editing, the writing process, etc.
    %li
      Worked one-on-one with graduate and ESL students to improve their writing skills

%p
  %strong Teaching Assistant
  %br McMaster University, Hamilton, On. (2002 - 2004)
  %ul
    %li
      Led seminars for 2nd and 3rd year courses of varying sizes and levels
      in History and Religious Studies
    %li
      Prepared and delivered course materials
    %li
      Graded student work, including term papers and final exams

%h2 Education
%p
  %strong Honours Bachelor of Arts
  %ul
    %li 
      University of Guelph, Guelph, On., 2002
    %li
      Double major - Philosophy and Political Science

%p
  %strong Incomplete Master of Arts in Religious Studies
  %ul
    %li
      McMaster University 2002 - 2005
    %li
      Left academia to pursue career in IT

%h2 Buzzwords 

%h3 Web Development and Coding
%ul
  %li HTML, XHTML, HTML5
  %li CSS, CSS2, CSS3 
  %li JavaScript, jQuery, DOM scripting/manipulation
  %li XML, XSLT, XSLFO, Xpath, XQuery
  %li Ruby and Ruby on Rails application development, deployment, maintenance
  %li Drupal deployment, configuration, theming, module development
  %li WordPress deployment, configuration, theming, plugin development
  %li MediaWiki deployment, configuration, theming 
  %li PHP application development, deployment, maintenance
  %li AJAX development and interface design
  %li JSP, Perl (CGI), Cold Fusion application development, maintenance, and troubleshooting
  %li Git, GitHub, SVN

%h3 Ruby
%ul
  %li Ruby, JRuby
  %li Ruby on Rails
  %li Sinatra
  %li Unicorn
  %li TorqueBox
  %li RSpec, RDoc, RCov

%h3 Linux
%ul
  %li Ubuntu Server (7 years)
  %li Ubuntu Desktop (6 years as primary desktop OS)
  %li Some RedHat and Debian experience

%h3 System Administration 
%ul
  %li Linux (Ubuntu, RedHat) server setup and administration
  %li Opscode Chef for automated server deployment, configuration management, and application deployment
  %li Custom Linux installation CD development for disaster recovery
  %li Jenkins for scheduled jobs and job status monitoring
  %li Nagios for system monitoring and service monitoring
  %li SNMP configuration
  %li Apache, Nginx, Unicorn, Sinatra, and Mongrel webserver configuration and deployment
  %li SMTP and Postfix mail transfer agent configuration and administration
  %li Bash shell scripting
  %li Ruby scripting
  %li Package management with APT and Landscape
  %li Tomcat installation and administration
  %li JMX training
  %li Git; GitHub; Gitosis server setup and administration
  %li SVN; SVN server setup and administration
  %li Hardware requirements gathering, purchasing, installation, configuration

%h3 Database Development
%ul
  %li MySQL installation, administration, migration, and database development
  %li Limited Microsoft SQL Server database development
  %li Limited Microsoft Access database development
  %li Experience integrating applications with PostgreSQL and Oracle

%h3 Standards and Testing
%ul
  %li Developing with Web Standards
  %li Experience creating, maintaining, and adhering to design standards
  %li SimpleTest (PHP) and RSpec (Ruby) for documentation and automated testing
  %li Selenium and Selenium IDE for automated, in-browser testing
  %li Use of automated testing frameworks to schedule and distribute testing
  %li Use of Nagios and Scout for website monitoring

%h3 Virtualization
%ul
  %li VirtualBox
  %li Vagrant
  %li OpenStack
  %li VMWare
