---
layout: page
title: "resume"
date: 2013-03-15 19:12
comments: true
sharing: true
footer: true
---
James Schumann
Waterloo, Ontario
james@schumann.ca

%h2 Summary of Qualifications
%ul
  %li
    10+ years of experience managing and implementing IT projects
  %li
    Proven client service and instructional experience
  %li
    Excellent oral and written communication skills
  %li
    Organized, motivated, and highly skilled professional
  %li
    Committed to professional development

%h2 Work Experience

2009 – Present
Web Developer, WRDSB, Kitchener, Ontario
Created custom websites and web applications, some managment of web
development projects, server and database administration

2006 – 2009
Partner, Resonant Studios Web Design, Guelph, Ontario
Created custom websites and web applications, and managed web development
projects, for a diverse clientele

1999 – 2007
Web Developer and Analyst – The Learning Commons, University of Guelph
Various roles in support of The Learning Commons' staff and the development of its
IT infrastructure and web properties; worked alone or as part of a team, with varying
degrees of supervision and supervisory responsibilities

2005 – 2007
Peer Helper Supervisor, The Learning Commons, University of Guelph
Supervised, hired, and trained Writing Peer Helpers; developed and delivered new,
collaborative programming; worked with students to improve their writing skills

2002 – 2004
Teaching Assistant, McMaster University, Hamilton, On.
Created and taught course-related materials for four courses of various sizes and
levels

%h2 Education
Honours Bachelor of Arts – Philosophy and Political Science
University of Guelph, Guelph, On., 2002

%h2 Technology Skills

%h3 Web Development and Coding
%ul
  %li
    Strong HTML/XHTML fundamentals
  %li
    CSS, and developing with web standards
  %li
    Javascript and DOM scripting/manipulation
  %li
    XML and related technologies, including XSLT/XSLFO, Xpath, and XQuery
  %li
    Apache, Mongrel, and Microsoft IIS webserver configuration and deployment

%h3 Web Application Development
%ul
  %li
    Drupal as CMS and application development platform
  %li
    Custom Drupal module development
  %li
    WordPress and MediaWiki as a Content Management Systems (CMS)
  %li
    PHP application development, deployment and maintenance
  %li
    Ruby/Ruby on Rails application development, deployment and maintenance
  %li
    AJAX development and interface design
  %li
    Some JSP and Perl (CGI) development
  %li
    Cold Fusion application development, maintenance, and troubleshooting

%h3 Database Development
%ul
  %li
    MySQL installation, administration, migration, and database development
  %li
    Microsoft SQL Server database development
  %li
    Microsoft Access database development
  %li
    Experience integrating applications with PostgreSQL and Oracle

%h3 Standards and Testing
%ul
  %li
    Experience creating, maintaining, and adhering to design standards
  %li
    SimpleTest (PHP) and RSpec (Ruby) for documentation and automated testing
  %li
    Selenium and Selenium IDE for automated, in-browser testing
  %li
    Use of automated testing frameworks to schedule and distribute testing
  %li
    Use of Nagios and Scout for website monitoring
  %li
    Configuration, administration, and use of SVN for version control

%h3 Desktop Computing Experience
%ul
  %li
    Typical WRDSB desktop applications (ex: FirstClass)
  %li
    Microsoft Windows, Desktop Linux, and Mac OS operating systems
  %li
    Microsoft Office and OpenOffice.org suites
  %li
    Graphic design tools, including the GIMP and Inkscape
  %li
    Dreamweaver and Contribute

%h3 Server Support
%ul
  %li
    Windows and Linux (Ubuntu, SUSE, RedHat) server setup and administration
  %li
    Hardware requirements gathering, purchasing, installation and configuration

